$color_0_lighter: #fdfdfd;
$color_0_light: #d0d0d0;
$color_0_dark: #111;
$color_1_light: #e3f2ff;
$color_1: #5679aa;
$color_1_dark: #001225;

html {
	background-color: $color_0_lighter;
	font-size: 14px;
}

.SVGTimePlanner {
	$row_head_width: 20rem;
	$column_head_height: 2rem;

	$column_transform: translateX($row_head_width + 2rem);
	$row_transform: translateY($column_head_height + 1rem);

	text {
		fill: $color_0_dark;
			transform: translateY(1em);
	}

	.TimeScale {
		font-size: 0.7rem;
		text-anchor: middle;
		transform: $column_transform;

		line {
			stroke: $color_0_light;
		}

		.Days {
			transform: translateY(1em);

			line {
				stroke-width: 2;
			}
		}
		.Hours {
			transform: translateY(2em);

			line {
				stroke-width: 0.5;
			}
		}
	}

	.TaskList {
		transform: $row_transform;

		:nth-child(2n+1) .Background {
			fill: $color_1_light;
		}

		:nth-child(2n) .Background {
			fill: $color_0_lighter;
		}

		text {
			transform: translate(1ex, 1em);
		}
	}

	.TimeSlotGrid {
		transform: $column_transform $row_transform;

		line {
			stroke: $color_0_dark;
			stroke-width: 2.5;
			stroke-linecap: round;
		}
	}

	.Deadlines {
		transform: $column_transform $row_transform;

		stroke: $color_1;
		stroke-linecap: round;

		.HardDeadline {
			stroke-width: 3;
		}

		.SoftDeadline {
			stroke-width: 2;
			stroke-dasharray: 4, 4;
		}
	}
}
